body {
    background-color: rgb(5, 167, 158);
}

.firstContainer {
    display: flex;
    justify-content: center;

}

.filterContainer {
    display: flex;
}

#filter-btn {
    margin-left: 5px;
}
#content {
    box-sizing: border-box;
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2% 5%;
    margin-bottom: 100px;
}
.movie-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

.movie-poster {
    width: 100%;
    height: 450px;
    object-fit: cover;
}